name: Bot > Sync Repo Settings

run-name: >-
  ${{ github.workflow }} > ${{ github.event.client_payload.repository }}

on:
  repository_dispatch:
    types:
      - schedule.weekly
      - sync-repo-settings

env:
  OWNER: ${{ github.event.client_payload.owner }}
  REPO: ${{ github.event.client_payload.repo }}
  REPOSITORY: ${{ github.event.client_payload.repository }}
  FORCE_COLOR: 1

concurrency:
  group: >-
    ${{ github.workflow }} > ${{ github.event.client_payload.repository }}
  cancel-in-progress: false

jobs:
  actions:
    name: Actions
    runs-on: ubuntu-latest
    steps:
      - name: Set Default Workflow Permissions
        # ref: <https://docs.github.com/en/rest/actions/permissions?apiVersion=2022-11-28#set-default-workflow-permissions-for-a-repository>
        run: >-
          gh api '/repos/${{ env.REPOSITORY }}/actions/permissions/workflow'
          --field default_workflow_permissions='read'
          --field can_approve_pull_request_reviews=true
          --method PUT
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}

  label:
    name: Label
    runs-on: ubuntu-latest
    steps:
      # TODO: remove download labels until <https://github.com/Financial-Times/github-label-sync/issues/193> is resolved
      - name: Download Labels
        run: >-
          wget --output-document='labels.yaml'
          'https://raw.githubusercontent.com/${{ env.OWNER }}/.github/main/.github/labels.yaml'
      - name: GitHub Label Sync
        run: >-
          npx github-label-sync
          --access-token '${{ secrets.GH_PAT }}'
          --labels 'labels.yaml'
          --allow-added-labels
          '${{ env.REPOSITORY }}'

  env-mega-linter:
    name: Environment > Mega Linter
    environment:
      name: MegaLinter
    runs-on: ubuntu-latest
    env:
      ENVIRONMENT: MegaLinter
    steps:
      - name: Create Environment
        # ref: <https://docs.github.com/en/rest/deployments/environments?apiVersion=2022-11-28#create-or-update-an-environment>
        run: >-
          gh api '/repos/${{ env.REPOSITORY }}/environments/${{ env.ENVIRONMENT }}'
          --method PUT
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
      - name: Set Secrets & Variables
        run: |-
          gh secret set PRIVATE_KEY \
            --env '${{ env.ENVIRONMENT }}' \
            --body '${{ secrets.PRIVATE_KEY }}' \
            --repo '${{ env.REPOSITORY }}'
          gh variable set APP_ID --env '${{ env.ENVIRONMENT }}' \
            --body '${{ vars.APP_ID }}' \
            --repo '${{ env.REPOSITORY }}'
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}

  env-release-please:
    name: Environment > Release Please
    environment:
      name: Release Please
    runs-on: ubuntu-latest
    env:
      ENVIRONMENT: Release Please
    steps:
      - name: Create Environment
        # ref: <https://docs.github.com/en/rest/deployments/environments?apiVersion=2022-11-28#create-or-update-an-environment>
        run: >-
          gh api '/repos/${{ env.REPOSITORY }}/environments/${{ env.ENVIRONMENT }}'
          --method PUT
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
      - name: Set Secrets & Variables
        run: |-
          gh secret set PRIVATE_KEY \
            --env '${{ env.ENVIRONMENT }}' \
            --body '${{ secrets.PRIVATE_KEY }}' \
            --repo '${{ env.REPOSITORY }}'
          gh variable set APP_ID --env '${{ env.ENVIRONMENT }}' \
            --body '${{ vars.APP_ID }}' \
            --repo '${{ env.REPOSITORY }}'
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}

  gh-pages:
    name: GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Setup GitHub Pages
        uses: liblaf/actions/setup-pages@v1
        with:
          repository: ${{ env.REPOSITORY }}
          token: ${{ secrets.GH_PAT }}

  repo:
    name: Repo
    runs-on: ubuntu-latest
    steps:
      - name: Edit Repository Settings
        run: >-
          gh repo edit '${{ env.REPOSITORY }}'
          --allow-update-branch
          --delete-branch-on-merge
          --enable-auto-merge
          --enable-discussions
          --enable-issues
          --enable-merge-commit=false
          --enable-projects=false
          --enable-rebase-merge=false
          --enable-secret-scanning
          --enable-secret-scanning-push-protection
          --enable-squash-merge
          --enable-wiki=false
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}

  ruleset:
    name: Ruleset
    runs-on: ubuntu-latest
    steps:
      - name: Ruleset Import
        # TODO: switch to gh cli until <https://github.com/cli/cli/issues/8019> is resolved
        uses: liblaf/actions/ruleset-import@v1
        with:
          name: main
          source-repository: ${{ env.OWNER }}/.github
          target-repository: ${{ env.REPOSITORY }}
          token: ${{ secrets.GH_PAT }}
