name: Bot > Release Please

run-name: >-
  ${{ github.workflow }} > ${{ github.event.client_payload.repository }}@${{ github.event.client_payload.ref }}

on:
  repository_dispatch:
    types:
      - release-please

env:
  CHECK_RUN_ID: ${{ github.event.client_payload.check_run_id }}
  OWNER: ${{ github.event.client_payload.owner }}
  REF: ${{ github.event.client_payload.ref }}
  REPO: ${{ github.event.client_payload.repo }}
  REPOSITORY: ${{ github.event.client_payload.repository }}
  FORCE_COLOR: 1

concurrency:
  group: >-
    ${{ github.workflow }} > ${{ github.event.client_payload.repository }}@${{ github.event.client_payload.ref }}
  cancel-in-progress: false

jobs:
  start:
    name: Start
    runs-on: ubuntu-latest
    outputs:
      token: ${{ steps.auth.outputs.token }}
    steps:
      - id: auth
        name: Auth
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: ${{ env.OWNER }}
          repositories: ${{ env.REPO }}
          skip-token-revoke: true
      - name: Update Check Run
        # ref: <https://docs.github.com/en/rest/checks/runs?apiVersion=2022-11-28#update-a-check-run>
        run: >-
          gh api '/repos/${{ env.REPOSITORY }}/check-runs/${{ env.CHECK_RUN_ID }}'
          --field details_url='${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}'
          --field started_at="$(date --iso-8601='seconds')"
          --field status='in_progress'
          --method PATCH
        env:
          GH_TOKEN: ${{ steps.auth.outputs.token }}

  config:
    name: Config
    needs:
      - start
    runs-on: ubuntu-latest
    outputs:
      config-file: ${{ steps.config.outputs.config-file }}
      manifest-file: ${{ steps.config.outputs.manifest-file }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: ${{ env.REPOSITORY }}
          ref: ${{ env.REF }}
          token: ${{ needs.start.outputs.token }}
      - id: config
        name: Find Config Files
        run: |-
          config='.config/release-please/config.json'
          manifest='.config/release-please/.manifest.json'
          if [[ -f $config ]]; then
            printf 'config-file=%s\n' "$config" >> "$GITHUB_OUTPUT"
          fi
          if [[ -f $manifest ]]; then
            printf 'manifest-file=%s\n' "$manifest" >> "$GITHUB_OUTPUT"
          fi

  release-please:
    name: Release Please
    needs:
      - start
      - config
    if: ${{ needs.config.outputs.config-file && needs.config.outputs.manifest-file }}
    runs-on: ubuntu-latest
    environment:
      name: Release Please
    outputs:
      pr: ${{ steps.release-please.outputs.pr }}
      prs_created: ${{ steps.release-please.outputs.prs_created }}
      release_created: ${{ steps.release-please.outputs.release_created }}
      tag: ${{ steps.release-please.outputs.tag_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: ${{ env.REPOSITORY }}
          ref: ${{ env.REF }}
          token: ${{ needs.start.outputs.token }}
      - id: release-please
        name: Release Please
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ needs.start.outputs.token }}
          config-file: ${{ needs.config.outputs.config-file }}
          manifest-file: ${{ needs.config.outputs.manifest-file }}
          repo-url: ${{ env.REPOSITORY }}

  changelog-pr:
    name: Changelog (PR)
    needs:
      - start
      - release-please
    if: ${{ needs.release-please.outputs.pr }}
    runs-on: ubuntu-latest
    environment:
      name: Release Please
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: ${{ env.REPOSITORY }}
          ref: ${{ fromJson(needs.release-please.outputs.pr).headBranchName }}
          token: ${{ needs.start.outputs.token }}
          fetch-depth: 0
      - id: tag
        name: Get Tag
        run: |-
          title='${{ fromJson(needs.release-please.outputs.pr).title }}'
          version="$(awk '{ print $NF }' <<< "$title")"
          printf 'tag=%s\n' "v$version" >> "$GITHUB_OUTPUT"
      - name: Changelog
        uses: liblaf/actions/changelog@dist
        with:
          output: CHANGELOG.md
          repository: ${{ env.REPOSITORY }}
          args: --tag '${{ steps.tag.outputs.tag }}'
      - name: Commit
        uses: liblaf/actions/commit@dist
        with:
          add-options: --verbose 'CHANGELOG.md'
          message: "chore(docs): update CHANGELOG.md"
          owner: ${{ env.OWNER }}
          ref: ${{ fromJson(needs.release-please.outputs.pr).headBranchName }}
          repository: ${{ env.REPO }}
          token: ${{ needs.start.outputs.token }}

  changelog-release:
    name: Changelog (Release)
    needs:
      - start
      - release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    environment:
      name: Release Please
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: ${{ env.REPOSITORY }}
          ref: ${{ needs.release-please.outputs.tag }}
          token: ${{ needs.start.outputs.token }}
          fetch-depth: 0
      - id: changelog
        name: Changelog
        uses: liblaf/actions/changelog@dist
        with:
          repository: ${{ env.REPOSITORY }}
          args: --current --strip all
      - name: Update Release Notes
        run: >-
          gh release edit '${{ needs.release-please.outputs.tag }}'
          --notes-file '${{ steps.changelog.outputs.changelog }}'
          --repo '${{ env.REPOSITORY }}'
        env:
          GH_TOKEN: ${{ needs.start.outputs.token }}

  complete:
    name: Complete
    needs:
      - start
      - release-please
      - changelog-pr
      - changelog-release
    if: always()
    runs-on: ubuntu-latest
    environment:
      name: Release Please
    steps:
      - name: Update Check Run
        # ref: <https://docs.github.com/en/rest/checks/runs?apiVersion=2022-11-28#update-a-check-run>
        run: |-
          conclusion='${{ needs.release-please.result }}'
          if [[ '${{ needs.changelog-pr.result }}' == 'failure' ]] ||
            [[ '${{ needs.release-please.result }}' == 'failure' ]]; then
            conclusion='failure'
          fi
          gh api '/repos/${{ env.REPOSITORY }}/check-runs/${{ env.CHECK_RUN_ID }}' \
            --field conclusion="$conclusion" \
            --field completed_at="$(date --iso-8601='seconds')" \
            --method PATCH
        env:
          GH_TOKEN: ${{ needs.start.outputs.token }}
