name: Bot > MegaLinter

on:
  repository_dispatch:
    types:
      - mega-linter

env:
  CHECK_RUN_ID: ${{ github.event.client_payload.check_run_id }}
  OWNER: ${{ github.event.client_payload.owner }}
  REF: ${{ github.event.client_payload.ref }}
  REPO: ${{ github.event.client_payload.repo }}
  REPOSITORY: ${{ github.event.client_payload.repository }}
  FORCE_COLOR: 1

concurrency:
  group: >-
    ${{ github.workflow }} > ${{ github.event.client_payload.repository }}@${{ github.event.client_payload.ref }}
  cancel-in-progress: false

jobs:
  start:
    name: Start
    runs-on: ubuntu-latest
    steps:
      - id: auth
        name: Auth
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: ${{ env.OWNER }}
          repositories: ${{ env.REPO }}
      - name: Update Check Run
        # ref: <https://docs.github.com/en/rest/checks/runs?apiVersion=2022-11-28#update-a-check-run>
        run: >-
          gh api '/repos/${{ env.REPOSITORY }}/check-runs/${{ env.CHECK_RUN_ID }}'
          --field details_url='${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}'
          --field started_at="$(date --iso-8601='seconds')"
          --field status='in_progress'
          --method PATCH
        env:
          GH_TOKEN: ${{ steps.auth.outputs.token }}

  complete:
    name: Complete
    needs:
      - start
    if: always()
    runs-on: ubuntu-latest
    steps:
      - id: auth
        name: Auth
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: ${{ env.OWNER }}
          repositories: ${{ env.REPO }}
      - name: Update Check Run
        # ref: <https://docs.github.com/en/rest/checks/runs?apiVersion=2022-11-28#update-a-check-run>
        run: |-
          gh api '/repos/${{ env.REPOSITORY }}/check-runs/${{ env.CHECK_RUN_ID }}' \
            --field conclusion='${{ needs.start.result }}' \
            --field completed_at="$(date --iso-8601='seconds')" \
            --method PATCH
        env:
          GH_TOKEN: ${{ steps.auth.outputs.token }}
